# Database (Using port 6543 Transaction pooler to prevent limits!)
DB_URL=jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&prepareThreshold=0
DB_USERNAME=postgres.xxxxxxxxxx
DB_PASSWORD=FILL_IN_YOUR_PASSWORD

# Supabase
LIGA_SUPABASE_URL=https://xxxxxxxxxx.supabase.co
AUTH_SUPABASE_URL=https://yyyyyyyyyy.supabase.co

# Application
SERVER_PORT=8080
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Change to https://fe-yomu.vercel.app when deploying to production (be careful of white spaces)
FRONTEND_URL=http://localhost:3000